body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 10px; /* Agregamos espacio para el nav fijo en la parte superior */
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    animation: gradientAnimation 10s infinite alternate;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(12, 96, 148, 0.993);
    z-index: 1000; /* Asegura que el nav esté en la capa superior */
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav h1 {
    color: #fff;
    font-size: 24px;
    margin: 0;
}

nav ul li {
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav a:hover {
    background-color: #fff;
    color: #1286c9;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -50px; /* Añade un margen inferior entre los videos */
    max-width: 80%;
}

.video-text {
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
   
}

h3 {
    font-size: 20px; /* Tamaño de fuente más pequeño */
   
   transition: 0.3 ease;
}


.video-text:hover h3 {
    color: #ec0a0a;
    transform: translateY(-10px);
}

iframe {
    width: 100%; /* Puedes ajustar este porcentaje según tus necesidades */
    max-width: 500px; /* Puedes ajustar este valor según tus necesidades */
    height: 280px; /* Puedes ajustar este valor según tus necesidades */
}
