body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 50px; /* Agregamos espacio para el nav fijo en la parte superior */
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    animation: gradientAnimation 10s infinite alternate;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(12, 96, 148, 0.993);
    z-index: 1000; /* Asegura que el nav esté en la capa superior */
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav h1 {
    color: #fff;
    font-size: 24px;
    margin: 0;
}

nav ul li {
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav a:hover {
    background-color: #fff;
    color: #1286c9;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    text-align: center;
}

h1 {
    color: rgb(12, 96, 192);
}

.input-box {
    margin: 15px 0;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.btn {
    background-color: #0e93b4;
    color: #fff;
    padding: 10px 20px;
    background-color: transparent;
    font-weight: semibold;
    color: rgb(13, 13, 14);
    font-size: 1rem;
    padding: 1rem 1.5rem; 
    border: 2px solid #eee; 
    border-radius: 5rem;
    cursor: pointer;
    transition: all 1s ease; 
    box-shadow: 5em .5rem 1rem #CCC,
    -.5em -.5rem 1rem #fff
    
    }
    button:hover {
    box-shadow: .5em .5rem 1rem #fff
    , -.5em - .5rem 1rem #CCC
    }
    button:active {
    box-shadow: inset .2rem .2rem 1rem #fff
    , inset - .2rem -.2rem 1rem #Ccc }


.btn:hover {
    background-color: #1e7fd4;
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #1286c9;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
