body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; 
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    text-align: center;
}

h1 {
    color: #333; 
}

.input-box {
    margin: 15px 0;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.btn {
    background-color: #1286c9; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0e5a94; 
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #1286c9; 
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

body {
    background: url(img/fondo-musical-volumetrico-clave-sol-notas-generativas-ai_169016-29575.avif);
}