
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-size: 5px 5px;
    color: #1d1c1c;
}

* {
    padding: 0;
    margin: 0;
    font-family: century, sans-serif;
    text-decoration: none;
    text-align: center;
}

.titulo {
    padding: 40px;
    color: #000;
}

nav {
    background-color: rgba(12, 96, 148, 0.993);
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav h1 {
    color: #fff;
    font-size: 24px;
    margin: 0;
}

nav ul li {
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav a:hover {
    background-color: #fff;
    color: #1286c9;
}
.contenido {
    display: flex;
    flex-direction: column; 
    width: 80%;
    margin: auto;
    margin-top: 50px;
    color: #000; 
}
.contenido {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.contenido .articulo {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.contenido .articulo h1,
.contenido .articulo h2,
.contenido .articulo h3 {
    margin-bottom: 10px;
   
}

.contenido .articulo div {
    width: 60%;
    padding: 15px;
    background-color: #69b5e0;
    border-radius: 15px;
    margin-bottom: 15px;
}

.contenido .articulo img {
    width: 20%;
    border-radius: 200px;
    margin-right: 10px;
    
}

.contenido .secundario {
    width: 30%;
}

.contenido .secundario p {
    background-color: #0a476b;
    border-radius: 15px;
    padding: 20px;
    height: 600px;
}

.piedepagina {
    background-color: #0a476b;
    margin-top: 500px;
    text-align: center;
    padding: 60px;
}
.click {
    margin-top: 20px; /* Ajusta la distancia según tu preferencia */
}

.click h1 {
 
    font-size: 20px; /* Ajusta el tamaño del texto según tu preferencia */
   
}
.click h1:hover{
    transform: translateY(-10px);
    
    
    transition: transform 0.5s ease;
}

.click h1 {
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: #afaf11;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.piedepagina p {
    color: #fff;
    padding: 90px;
    font-size: 18px;
    line-height: 2.6;
}

.piedepagina h4 {
    color: #fff;
    font-size: 25px;
    margin-top: -5%;
}

.img1 {
    width: 20%;
    border-radius: 200px;
    margin-right: 50%;
    margin-left: 40%;
    transition:
    0.2s
   ease;
}
.img1:hover{
  transform: scale(1.1);
}


.img2 {
    width: 20%;
    border-radius: 200px;
    margin-right: 50%;
    margin-left: 40%;
    

    transition:
     0.2s
    ease;
}

.img2:hover{
    transform: scale(1.1);
}

.img3 {
    width: 20%;
    border-radius: 200px;
     margin-right: 50%;
    margin-left: 40%;
    transition:
     0.2s
    ease;
    
}

.img3:hover{
    transform: scale(1.1);
}


 



