body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 10px;
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    animation: gradientAnimation 10s infinite alternate;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(12, 96, 148, 0.993);
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav h1 {
    color: #fff;
    font-size: 24px;
    margin: 0;
}

nav ul li {
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav a:hover {
    background-color: #fff;
    color: #1286c9;
}

.content {
    padding: 20px;
}

.content h2:hover,
.content h3:hover,
.content p:hover {
   
    transform: translateY(-10px);
    transition: transform 0.3s ease;
}

.titulo h2  {
    animation-duration: 6s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: #afaf11;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  